<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House price prediction</title>
</head>
<body style="text-align: center; background: #c2d133;">
    <h1>House price prdiction</h1>
    <form action="predict">
        <input type="number" name="age" placeholder="Enter House age" style="border-radius: 5px;"><br><br>
        <input type="number" name="size" placeholder="Enter the size in sq feet"><br><br>
        <button action="submit">Predict</button>
    </form>
    <h2>Predicited value is {{val}}</h2>
</body>
</html>